VITE_APP_PUBLIC_API_KEY="3aca47aa757d19483fa6b926ccf75ab6"
VITE_APP_HASH_API="2e0f2a1b2251fbdccebaf1fd74037f57"
VITE_APP_BASE_API_URL="https://gateway.marvel.com:443/v1/public/"
SKIP_PREFLIGHT_CHECK=true
